src/main/app/vm_insert_router.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
    <flow name="vm_insert_routerFlow1" doc:name="vm_insert_routerFlow1">
        <vm:inbound-endpoint exchange-pattern="request-response" path="insert_router" doc:name="VM Insert Router"/>
        <object-to-string-transformer doc:name="Object to String"/>
        <logger message="insert router payload: #[message.payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
