src/main/app/vm_insert_employee.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <db:mysql-config name="MySQL-A" host="128.199.214.77" port="3306" user="wsladmin" password="W$lph@123" database="employees" doc:name="MySQL Configuration"/>
    <db:mysql-config name="MySQL-B" host="128.199.245.78" port="3306" user="wsladmin" password="W$lph@123" database="employee_details" doc:name="MySQL Configuration"/>
    <flow name="vm_insert_employee_flow" doc:name="vm_insert_employee_flow" doc:description="This flow contains the process of inserting employee details and contact information of the employee to 2 separate databases">
        <vm:inbound-endpoint exchange-pattern="request-response" path="insert_employee" doc:name="VM Insert Employee" connector-ref="VM" doc:description="VM Inbound from emp_record.mflow"/>
        <message-properties-transformer scope="session" doc:name="Store Contact Info" doc:description="Store contact information for insert contact input data after insert employee">
            <add-message-property key="home_address" value="#[json:home_address]"/>
            <add-message-property key="email_address" value="#[json:email_address]"/>
            <add-message-property key="mobile_phone_number" value="#[json:mobile_phone_number]"/>
        </message-properties-transformer>
        <db:insert config-ref="MySQL-A" autoGeneratedKeys="true" autoGeneratedKeysColumnIndexes="1" autoGeneratedKeysColumnNames="emp_id" doc:name="Insert Employee" doc:description="Insert employee details into employees database table employees with input data first name, last name, age, and gender. After insert the component will return the emp_id of the insert data">
            <db:dynamic-query><![CDATA[INSERT INTO employees (first_name,last_name,age,gender,job_id) VALUES ('#[json:first_name]','#[json:last_name]','#[json:age]','#[json:gender]','#[json:job_id]');]]></db:dynamic-query>
        </db:insert>
        <set-payload value="#[message.payload[0]]" doc:name="Get Return ID Payload" doc:description="extract the return of the database component from payload[0]"/>
        <json:object-to-json-transformer doc:name="Object to JSON" doc:description="convert the mapped payload to json string for extraction"/>
        <set-payload value="INSERT INTO contacts (emp_id,home_address,email_address,mobile_phone_number) VALUES('#[json:GENERATED_KEY]','#[sessionVars['home_address']]','#[sessionVars['email_address']]','#[sessionVars['mobile_phone_number']]')" doc:name="SET INSERT QUERY" doc:description="Create insert statement for insert contact details, get data from current payload JSON string for the emp_id and get contact details from the previously stored data in the session for the contact data information"/>
        <logger message="#[message.payload]" level="INFO" doc:name="Logger" doc:description="Check the current payload which contains the Query string to be used in inserting the contact details information"/>
        <db:insert config-ref="MySQL-B" doc:name="Insert Contact Details" doc:description="Insert contact information in the employee_details database and into the contacts table, insert data are emp_id from previous insert, home address, email address, mobile phone number.">
            <db:dynamic-query><![CDATA[#[payload];]]></db:dynamic-query>
        </db:insert>
    </flow>
</mule>
