src/main/app/vm_insert_employee.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <db:mysql-config name="MySQL-A" host="128.199.214.77" port="3306" user="wsladmin" password="W$lph@123" database="employees" doc:name="MySQL Configuration"/>
    <flow name="vm_insert_employeeFlow1" doc:name="vm_insert_employeeFlow1">
        <vm:inbound-endpoint exchange-pattern="request-response" path="insert_employee" doc:name="VM Insert Employee"/>
        <db:insert config-ref="MySQL-A" doc:name="Insert Employee">
            <db:dynamic-query><![CDATA[INSERT INTO employees (first_name,last_name,age,gender,job_id) VALUES ('#[json:first_name]','#[json:last_name]','#[json:age]','#[json:gender]','#[job_id]');]]></db:dynamic-query>
        </db:insert>
    </flow>
</mule>
