target/classes/vm_insert_employee.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <db:mysql-config name="MySQL-A" host="128.199.214.77" port="3306" user="wsladmin" password="W$lph@123" database="employees" doc:name="MySQL Configuration"/>
    <db:mysql-config name="MySQL-B" host="128.199.245.78" port="3306" user="wsladmin" password="W$lph@123" database="employee_details" doc:name="MySQL Configuration"/>
    <flow name="vm_insert_employeeFlow1" doc:name="vm_insert_employeeFlow1">
        <vm:inbound-endpoint exchange-pattern="request-response" path="insert_employee" doc:name="VM Insert Employee"/>
        <message-properties-transformer scope="session" doc:name="Store Contact Info">
            <add-message-property key="home_address" value="#[json:home_address]"/>
            <add-message-property key="email_address" value="#[json:email_address]"/>
            <add-message-property key="mobile_phone_number" value="#[json:mobile_phone_number]"/>
        </message-properties-transformer>
        <db:insert config-ref="MySQL-A" autoGeneratedKeys="true" autoGeneratedKeysColumnIndexes="1" autoGeneratedKeysColumnNames="emp_id" doc:name="Insert Employee">
            <db:dynamic-query><![CDATA[INSERT INTO employees (first_name,last_name,age,gender,job_id) VALUES ('#[json:first_name]','#[json:last_name]','#[json:age]','#[json:gender]','#[json:job_id]');]]></db:dynamic-query>
        </db:insert>
        <set-payload value="#[message.payload[0]]" doc:name="Get Return ID Payload"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <set-payload value="INSERT INTO contacts (emp_id,home_address,email_address,mobile_phone_number) VALUES('#[json:GENERATED_KEY]','#[sessionVars['home_address']]','#[sessionVars['email_address']]','#[sessionVars['mobile_phone_number']]')" doc:name="SET INSERT QUERY"/>
        <logger message="#[message.payload]" level="INFO" doc:name="Logger"/>
        <db:insert config-ref="MySQL-B" doc:name="Insert Contact Details">
            <db:dynamic-query><![CDATA[#[payload];]]></db:dynamic-query>
        </db:insert>
    </flow>
</mule>
